/* MovingText.css */

.moving-text-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #000000; /* Black text color */
  padding: 10px; /* Padding for text container */
}

.moving-text {
  display: inline-block;
  white-space: nowrap; /* Prevent text from wrapping */
  font-size: 18px; /* Adjust font size as needed */
  animation: slide 20s linear infinite; /* Adjust duration and timing function as needed */
}

@keyframes slide {
  0% {
    transform: translateX(100%); /* Start off screen to the right */
  }
  100% {
    transform: translateX(-100%); /* Move across the screen to the left */
  }
}
